.form-wrapper
{
  width:70%;
  margin:auto;
  border:2px solid black;


}
mat-form-field{
  width:100%;
}
.form-content
{
  padding: 46px 90px;
}

.button-wrapper{
display:flex;
justify-content: center;

}
