.bold{
  font-weight: bold;
}
.bars{
  background: transparent;
    color: white;
}
.company-name{
  padding-right: 52px;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.badge{
  width:70%;
  display:flex;
  justify-content: flex-end;
}
mat-sidenav,mat-sidenav.md-locked-open,mat-sidenav.md-closed.md-locked-open-add-active {
    min-width: 150px !important;
    width: 35vw !important;
    max-width: 200px !important;
    font-size:14px;

}
.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;

}

h1.example-app-name {
  margin-left: 8px;
  font-size: 14px;
}

.example-sidenav-container {
  flex: 1;

}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}
.bottom{
  margin-top: 34px;
  }

  .list-items{
  
    font-size:14px;
  }

  .fontsize{
    font-size: 14px;
    padding-bottom:23px;
    padding-top:23px;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }


  .mat-list-item.active{
    color: blue;

  }
.mat-list-item{

  font-size:14px;
}

@media only screen and (max-width: 756px) {
  .company-name{
    display:none;

  }
}
