
.main-button-wrapper{
  display:flex;
  justify-content: flex-start;
  margin-top: 39px;
  margin-left:39px;
}
.main-heading{
display:flex;
justify-content: flex-start;
margin-top: 39px;
margin-left:39px;
}
