
<h3 class="main-heading"> Please Select Project  </h3>
<div class="d-flex justify-content-center">
  <mat-spinner *ngIf="!checker"></mat-spinner>
</div>
<div class='dashcards'>
<div class='dashcards-grid' *ngFor="let card of cards;let i =index">
<app-cards  (click)="cardFunction(card._id)" *ngIf="checker" [statCardData]="card" [no]="i"></app-cards>
</div>
</div>

<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{projTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<div class="size">
   <div  [innerHTML]="description" ></div>
  </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
  </div>


</ng-template>

