.dashcards{
  margin-top:30px;
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.dashcards-grid{
  flex: 0 0 31%;
  margin-bottom: 23px;
}
@media screen and (max-width:768px){

  .dashcards-grid{
    flex: 1 1 31%;
    margin-bottom: 23px;
  }

}

