.dashcards{
  margin-top:30px;
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.dashcards-grid{
  flex: 0 1 31%;
  margin-bottom: 23px;
}
.assigncard{
  position: absolute;
  top: 150px;
  margin-top:30px;
  width:31%;
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
}
.assigncard-no-pos{
  margin-top:30px;
  width:60%;
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;


}
.assign-dashcards-grid{
  // align-items:flex-start;
  text-align:center;
  flex: 1 1 25%;
  margin-bottom: 23px;
  margin-left:9px;
}
@media screen and (max-width:827px){
  .assigncard{
    position: initial ;

    margin-top:30px;
    width:100%;
    display: flex;
    flex-flow: row wrap;


  }
  .dashcards-grid{
    flex: 1 1 31%;
    margin-bottom: 23px;
  }
  .assign-dashcards-grid{
    flex: 1 1 31%;
    margin-bottom: 23px;
    margin-left:0px;
  }

}

