
.fields-wrapper {
  display: flex;
  flex-flow: row wrap ;
  justify-content: center;

  .field {
      flex: 0 1 100%;
      display:flex;
      flex-flow: row nowrap;
      justify-content: center;
      mat-form-field {
          width: 50%;
      }
  }
}

.button-wrapper {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
