<h3 class="main-heading">Add New Credentials</h3>
<div class="form-wrapper">
    <form [formGroup]="credentialsForm" (ngSubmit)="submit()">
        <div class="fields-wrapper">
            <div class="field">
              <mat-form-field><input formControlName="title"  matInput placeholder="Title" type="text"></mat-form-field>
            </div>
            <div class="field">
                <mat-form-field><input  formControlName="description" matInput placeholder="Enter Description" type="text"  ></mat-form-field>
            </div>

            <div class="field">
              <mat-form-field><input formControlName="accessto"  matInput placeholder="Access To" type="text"></mat-form-field>
            </div>
            <div class="field">
              <mat-form-field><input formControlName="note"  matInput placeholder="Note" type="text"></mat-form-field>
            </div>
            <div class="field">
              <mat-form-field><input formControlName="client"  matInput placeholder="Client" type="text"></mat-form-field>
            </div>
            <div class="field">
              <mat-form-field><input formControlName="site"  matInput placeholder="Site" type="text"></mat-form-field>
            </div>
            <div class="button-wrapper">
              <button mat-raised-button type="submit" color="primary">Save</button>
          </div>

        </div>
    </form>
</div>
