.fields-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .field {
    flex: 0 1 34%;
    margin-bottom:24px;
    mat-form-field {
      width: 100%;
    }
  }
  .text-area {
    flex:1 1 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom:24px;
  }
  .inner-div {
width:60%;
mat-form-field {
  width: 100%;
}

  }
}

.button-wrapper {
  flex: 0 1 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
