<div class="wrapper">

<mat-form-field>
      <input

        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>

  <div class="mat-elevation-z8 ">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >No</th>
        <td mat-cell *matCellDef="let row; let i = index">    {{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="userEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Add /Remove From Company</th>
        <td mat-cell *matCellDef="let row"><div (click)="toggle(row._id,row.status)"><div class="mat-elevation-z2" [ngClass]="row.status ? 'success' : 'notsuccess'"  appColorDirective color="darkgray">{{row.status | changeStatus}}</div></div></td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; " [ngClass]="row.status ? 'success' : 'notsuccess'"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

